<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>THS Restoran Catalogue</title>
  <link rel="manifest" href="./app.webmanifest">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="#47B5FF"/>
  <meta name="apple-mobile-web-app-title" content="THS Restaurant Catalogue"/>
  <link rel="apple-touch-icon" href="../public/icons/icon-152x152.png"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">    
</head>
<body>
  <a href="#main" class="skip-to-content" tabindex="0">Skip to Content</a>
  <div id="wrapper">
    <header>
      <h1>THS Restoran</h1>
      <span class="hamburger-menu" tabindex="0"><i class="fa-solid fa-bars"></i></span>
      <nav>
        <a href="#/home" class="home"><i class="fa-solid fa-house"></i> Home</a>
        <a href="#/favorite" class="favorite"><i class="fa-solid fa-heart"></i> Favorite</a>
        <a href="https://github.com/tarqhilmarsiregar" target="_blank" class="about"><i class="fa-brands fa-github"></i> About Us</a>
      </nav>
    </header>
    <main id="main" tabindex="0">
    </main>
    <footer>
      <p tabindex="0">Copyright &copy; 2022 - THS Restoran</p>
    </footer>
  </div>
</body>
</html>
